config/default.json
config/default_.json
config/SNIH_listaAsociaciones.json
data
logs
sessions
sql_ignore
node_modules
package.json
procedures/*.yml
procedures/6-hourly
procedures/daily
procedures/hourly
procedures/weekly
procedures/monthly
procedures/tests_a6
cron
tmp
app/crud_engine.js
sql/config.json
backup
public/libreoffice
py/bin
py/a5py/__pycache__
py/include
py/lib
py/lib64
py/share
py/tests
py/config.json
test
views/layouts/main_abs.handlebars
.vscode
sql/__pycache__
public/rast
public/planillas
procedures/tests/outputs
