<h4>Carga de planillas</h4>
<ul>
	<li><a href="accessorUploadForm?class=telex">Cargar telex</a></li>
	<li><a href="accessorUploadForm?class=paraguay09">Cargar Paraguay_09</a></li>
	<li><a href="accessorUploadForm?class=tabprono">Cargar Tabprono (pronósticos Paraná)</a></li>
	<li><a href="accessorUploadForm?class=alturas_pna">Cargar planilla de alturas de PNA</a></li>
	<li><a href="accessorUploadForm?class=eby">Cargar planilla de caudales de Yacyretá (EBY)</a></li>
	<li><a href="accessorUploadForm?class=ctm">Cargar planilla de alturas y caudales de Salto Grande (CTM)</a></li>
	<li><a href="accessorUploadForm?class=delta_qmeddiario">Cargar planilla de caudales medios diarios del delta del Paraná</a></li>
	<li><a href="accessorUploadForm?class=atucha">Cargar planilla de alturas de Atucha (NA-SA)</a></li>
	<li><a href="accessorUploadForm?class=delta_mensual">Cargar planilla de promedios mensuales esperados del delta del Paraná</a></li>
	<li><a href="web_semanal">Cargar texto de informe semanal</a></li>
	<li><a href="accessorUploadForm?class=prono_yml">Cargar pronóstico en formato yml o json</a></li>
</ul>
<h4>Descarga de planillas</h4>
<ul>
	<li><a href="planillas/Telex.xls" download="Telex.xls">telex</a></li>
	<li><a href="planillas/Paraguay_09.xls" download="Paraguay_09.xls">Paraguay_09</a></li>
	<li><a href="planillas/Tabprono.xls" download="Tabprono.xls">Tabprono (pronósticos Paraná)</a></li>
	<li><a href="planillas/alturas_pna.xls" download="alturas_pna.xls">Alturas PNA</a></li>
	<li><a href="planillas/eby.xlsx" download="eby.xlsx">caudales de Yacyretá (EBY)</a></li>
	<li><a href="planillas/ctm.pdf" download="ctm.pdf">alturas y caudales de Salto Grande (CTM)</a></li>
	<li><a href="planillas/delta_qmeddiario.xls" download="delta_qmeddiario.xls">caudales medios diarios del delta del Paraná</a></li>
	<li><a href="planillas/atucha.xls">Alturas de Atucha (NA-SA)</a></li>
		<li><a href="planillas/delta_mensual.xls">Promedios mensuales esperados del delta del Paraná</a></li>
	<li><a href="web/semanal/informe">Descargar texto de informe semanal (JSON)</a></li>
	<li><a href="planillas/prono.yml">Descargar último prono cargado en formato yml</a></li>
</ul>

